<h1>Editing itinerary</h1>

<% form_for(@itinerary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dept_date %><br />
    <%= f.datetime_select :dept_date %>
  </p>
  <p>
    <%= f.label :ret_date %><br />
    <%= f.datetime_select :ret_date %>
  </p>
  <p>
    <h2>Routes</h2>
    <% @routes = Route.find(:all)
    @routes.each do |r| %>
    
    <%=f.radio_button :route_id, :value=>r.id%>
    <%=h r.origin_code %> to <%=h r.dest_code %> via <%=h r.carrier_code %><br />
   
   
     <% end %>

  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @itinerary %> |
<%= link_to 'Back', itineraries_path %>