<h1>New itinerary</h1>

<% form_for(@itinerary) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dept_date %><br />
    <%= f.datetime_select :dept_date, :minute_step=>30  %>
  </p>
  <p>
    <%= f.label :ret_date %><br />
    <%= f.datetime_select :ret_date, :minute_step=>30  %>
  </p>
  <p>Routes:<br />
    <% @routes = Route.find(:all, :order=>:origin_code)
    @routes.each do |route| %>
    <%= f.radio_button :route_id, :value=>route.id %> 
    <%=route.origin_code %> to <%=route.dest_code %> on <%=route.carrier_code %>
    <br />
    <% end %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', itineraries_path %>