<h1>Editing flight_select</h1>

<% form_for(@flight_select) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :kayak_flight_id %><br />
    <%= f.text_field :kayak_flight_id %>
  </p>
  <p>
    <%= f.label :search_id %><br />
    <%= f.text_field :search_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @flight_select %> |
<%= link_to 'Back', flight_selects_path %>