<h1>Listing flight_selects</h1>

<table>
  <tr>
    <th>User</th>
    <th>Kayak flight</th>
    <th>Search (flight requirements)</th>
  </tr>

<% @flight_selects.each do |flight_select| %>
  <tr>
    <td><%=h flight_select.user_id %></td>
    <td><%=h flight_select.kayak_flight_id %></td>
    <td><%= link_to 'Freeze Another Flight', :controller=>"flights", :action=>"show", :id=>flight_select.flight_id %> </td>
    <td><%= link_to 'Show', flight_select %></td>
    <td><%= link_to 'Edit', edit_flight_select_path(flight_select) %></td>
    <td><%= link_to 'Destroy', flight_select, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

