<h1>Search For A Flight</h1>

<% form_for(@flight) do |f| %>
  <%= f.error_messages %>

  <p>
    From<br />
    <%= select("flight", "from_code", @routes_o.map {|r| [ r.origin_code, r.origin_code ] }) %>
  </p>
  <p>
    To<br />
    <%= select("flight", "to_code", @routes_d.map {|r| [ r.dest_code, r.dest_code ] }) %>
  </p>
  <p>

    <%= f.label :from_date %><br />
    <%= f.datetime_select :from_date, :default=>14.days.from_now, :minute_step=>30 %>
  </p>
  <p>
    <%= f.label :to_date %><br />
    <%= f.datetime_select :to_date, :default=>28.days.from_now, :minute_step=>30 %>
  </p>
  <p>
   <%= f.hidden_field :prebook_date, :value=>Time.now %>
   </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>

<%= link_to 'Back', flights_path %>