<div id="source_callout"><% if session[:source] == 'EM1BETA' %>Welcome to the Beta Program! We'll be sending more information via email.<% end %></div>
<div id="logo"><img src="/images/freezefare-logo.png" /></div>
<div class="main">  
       <div class="content">
			<p>Freeze your flight at today's cheapest price so you can have more time to decide if you want to buy.</p>
		</div>
<div style="text-align:left; font-size:12pt;">
<% form_for(@flight) do |f| %>
<table border=0 width="100%">
  <%= f.error_messages %>
<tr>
<td> From</td><td>Departing On:</td>
</tr>
<tr>
<td>
 <%= select("flight", "from_code", @airports.map {|r| [ r.city + ", " + r.state_short + " (" + r.airport_code + ")", r.airport_code ] }) %>
</td>

<td>
    <%= f.date_select :from_date, :default=>14.days.from_now, :minute_step=>30 %>
</td>
</tr>
<tr><td> To</td><td>Returning on:</td></tr>
<tr>
<td>
 <%= select("flight", "to_code", @airports.map {|r| [ r.city + ", " + r.state_short + " (" + r.airport_code + ")", r.airport_code ] }) %>
</td>
<td>
    <%= f.date_select :to_date, :default=>28.days.from_now, :minute_step=>30 %>
</td>
</tr>

</table>
   <%= f.hidden_field :prebook_date, :value=>Time.now %>
  <p>
      <%= image_submit_tag 'freezefare-search-flights-btn.gif' %>

  </p>
<% end %>
</div>
</div>

<%= session[:test_version]?  1 : 0	 %>
