<p>
  <b>From code:</b>
  <%=h @flight.from_code %>
</p>

<p>
  <b>To code:</b>
  <%=h @flight.to_code %>
</p>

<p>
  <b>From date:</b>
  <%=h @flight.from_date %>
</p>

<p>
  <b>To date:</b>
  <%=h @flight.to_date %>
</p>

<p>
  <b>Prebook date:</b>
  <%=h @flight.prebook_date %>
</p>

<p>
  <b>Boughtflag:</b>
  <%=h @flight.boughtFlag %>
</p>


<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>