<h1>Flight search results</h1>
<div style="border:1px purple dotted; width:300px;">
Flight Search Criteria:<br />
From: <%= @flight.from_code %><br />
To: <%= @flight.to_code %><br />
Departing: <%= @flight.from_date%> Arriving: <%= @flight.to_date %>
</div>
<ul>
<%
      @xml.elements.each("/searchresult/trips/trip") do |e| %>
        <% e.each_element("price") do |t|   %>       
         <li><%=t.attribute("id") %>
          $<%=t.text%>
          <a href="http://www.kayak.com<%=t.attribute("url").to_s%>">Book on Kayak</a>
        <% end %>
 		<% e.each_element("legs") do |legs| %>
   		<%  legs.each_element("leg") do |l| %>
   		  <%  l.each_element do |ld| %>
   		     <%=ld.text.to_s %>|
   	      <%  end %>
   		<%  end %>
	 <%	end %>

	</li>
     <% end %>
</ul>
<a href="">more...</a>