<!-- multiple flight select option (version B) -->
<div id="logo"><img src="/images/freezefare-logo.png" /></div>
<% form_for(@flight_select) do |f| %>
  <%= f.error_messages %>       

<div class="main">  
        <h3>How long would you like to freeze this fare?</h3>
         <%= f.text_field :freeze_time, :size=>'10' %>
         <div class="buy_buttons"><%= image_submit_tag '/images/freezefare-freeze-btn.gif' %>
         </div>
<table border=0 width="100%" class="manyresults">
<%    @xml.elements.each("/searchresult/trips/trip") do |e| %>
<tr>
<td>   <%= f.radio_button :kayak_flight_id, :value=>e.attribute('id') %>     </td>   
       <% e.each_element("price") do |t|   %>       
	         <%=t.attribute("id") %>        <td> $<%=t.text%></td>	
	      <% end %>
	      <td><table border="0" id="leg_table" width="100%">
		<% 
		legcount=0
		e.each_element("legs/leg") do |l| 
		   %><tr><%
		    l.each_element("airline_display") do |a|
		       %><td><%=a.text %></td><%
			end
			l.each_element("depart") do |d|          
			     %><td><%=d.text %></td><%
			end
			
			l.each_element("stops") do |s|
			   %><td>Stops: <%=s.text%></td><%
			end%>
			</tr><%
			
		 end%>
		 </table>
		 </td>
	 </tr>
	</p>
     <% end %>
</table>

</div><% end %>
