<body>
<div id="wrapper">
<div id="mainblurb">
<img src="/images/freezefare-logo.png" />

<h1>We're sorry- We're not quite ready yet</h1>
<h2>

</h2>

<hr />
<div id="form_body">
<% form_for(@survey_user) do |f| %>
<% session[:test_version]? val='multiple options' : val='single option' %>

 	<%= f.hidden_field :source, :value=>session[:source] %>
	<%= f.hidden_field :button_label, :value=>params['button_label'] %>
	<%= f.hidden_field :test_version, :value=>val %>


<h3>Enter your email below to join our Beta Program</h3>
<div><%= f.text_field :contact_long %><br /><div>

  <div class="buy_buttons">
    <%= image_submit_tag 'freezefare-submit-btn.gif' %>
  </div>

<% end %>

</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Google Code for Clicked on Button Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1022465838;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "PMU8CNLM3wEQrq7G5wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1022465838/?label=PMU8CNLM3wEQrq7G5wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
