<body>
<div id="wrapper">
<div id="mainblurb">
  <img src="/images/freezefare-logo.png" />

  <h1>Help us build something you want!</h1>
<h2>
We&#8217;re getting ready to launch &amp; want to make our service more useful for you.
<br />
Please fill out the survey below:
</h2>

<hr />
<div id="form_body">
<% form_for(@survey_user) do |f| %>
  <%= f.error_messages %>

  
   <h3>Do you book most of your own travel?</h3>
  <div>
      <%= f.radio_button :book_travel, 'Yes' %> Yes<br />
      <%= f.radio_button :book_travel, 'No' %> No<br />
      <%= f.radio_button :book_travel, 'Other Person' %>I'm involved in the process, but someone else books it in the end<br />
  </div>

<h3>What is the reason behind the travel that you book?</h3>
  <div>
   <%= f.radio_button :reason_book, 'Business' %> Business
   <%= f.radio_button :reason_book, 'Pleasure' %> Pleasure
   <%= f.radio_button :reason_book, 'Half of each' %> About half business, half pleasure
  </div>
<h3>What resources do you use to book your plane travel?</h3>
<%= f.radio_button :resources, 'Bing' %>Bing Travel / Farecast<br />
<%= f.radio_button :resources, 'Expedia' %>Expedia<br />
<%= f.radio_button :resources, 'Kayakng' %>Kayak<br />
<%= f.radio_button :resources, 'Momondo' %>Momondo<br />
<%= f.radio_button :resources, 'Orbitz' %>Orbitz<br />
<%= f.radio_button :resources, 'Travelocity' %>Travelocity<br />
<%= f.radio_button :resources, 'Other' %> Other: <%= f.text_field :resources %>  

    <h3>Do you Book the same day that you first start searching?</h3>    
      <%= f.radio_button :book_same_day, 'Yes' %> Yes<br />
      <%= f.radio_button :book_same_day, 'No' %> No, because: 
      <%= f.text_field :book_same_day_long %>
  
<h3>How much would you pay to hold your flight for a week at today's price?</h3>
<%= f.radio_button :price, 'Nothing' %>Nothing - I wouldn't pay for this service
<%= f.radio_button :price, 'under $10' %>Under $10<br />
<%= f.radio_button :price, '$10 - $20' %>$10 - $20<br />
<%= f.radio_button :price, 'Over $20' %>Over $20<br />
<%= f.radio_button :price, 'It Depends' %>It depends on the flight - I'll explain below<br />
<%= f.text_area :price_long, :cols=>20, :rows=>10 %>

	<h3>Can we contact you via email to ask follow-up questions & keep you updated? We won't share or sell your email</h3>


     <%= f.radio_button :contact, 'Yes' %> Yes at this email address: 
     <%= f.text_field :contact_long %><br />
      <%= f.radio_button :contact, 'No' %> No thanks<br />
      <br />
  	<%= image_submit_tag('/images/freezefare-submit-btn.gif') %>
<% end %>

</div>
</div>
</body>