<body>
<div id="wrapper">
<div id="mainblurb">
<img src="/images/freezefare-logo.png" />

<h1>We're sorry- We're not quite ready yet</h1>
<h2>
But we'd love to hear about your travel planning so we can make airline booking easier for you!<br />
Please fill out the survey below: 
</h2>

<hr />
<div id="form_body">
<% form_for(@survey_user) do |f| %>
<% session[:test_version]? val='multiple options' : val='single option' %>

 	<%= f.hidden_field :source, :value=>session[:source] %>
	<%= f.hidden_field :button_label, :value=>params['button_label'] %>
	<%= f.hidden_field :test_version, :value=>val %>


<h3>Please enter your email below if we may ask you follow-up questions & keep you updated. We won't share or sell your email. </h3>
<div><%= f.text_field :contact_long %><br /><div>

<h3>How long do you wait between your first airfare search for a trip and booking the airfare? </h3>
<div><%= f.text_area :booking_wait, :cols=>20, :rows=>10 %></div>

<h3>Do you research for flights? If so, why? What are your goals when researching?</h3>
<div><%= f.text_area :research_goals, :cols=>20, :rows=>10 %></div>

<h3>Are you concerned with missing out on a good deal when searching for airfare?</h3>
<div>
<%= f.radio_button :miss_out_fares, 'Yes' %> Yes<br />
<%= f.radio_button :miss_out_fares, 'No' %> No
      </div>
      
  <div class="button">
    <%= image_submit_tag 'freezefare-submit-btn.gif' %>
  </div>

<% end %>

</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Google Code for Clicked on Button Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1022465838;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "PMU8CNLM3wEQrq7G5wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1022465838/?label=PMU8CNLM3wEQrq7G5wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
