<body>
<div id="wrapper">
<div id="mainblurb">
<img src="/images/freezefare-logo.png" />

<h1>We're sorry- We're not quite ready yet</h1>
<h2>
But we'd love to hear about your travel planning so we can make airline booking easier for you!<br />
Please fill out the survey below: 
</h2>

<hr />
<div id="form_body">
<% form_for(@survey_user) do |f| %>
<% session[:test_version]? val='multiple options' : val='single option' %>

 	<%= f.hidden_field :source, :value=>session[:source] %>
	<%= f.hidden_field :button_label, :value=>params['button_label'] %>
	<%= f.hidden_field :test_version, :value=>val %>

  <h3>Do you book most of your own travel?</h3>
  <div>
  <%= f.radio_button :book_travel, 'Yes' %> Yes<br />
  <%= f.radio_button :book_travel, 'No' %> No<br />
  <%= f.radio_button :book_travel, 'someone_else' %>  I'm involved in the process, but someone else books it in the end
  </div> 
  
  <h3>What is the reason behind most of your air travel?</h3>
    <div><%= f.radio_button :reason_book, 'Business' %> Business</div>
    <div><%= f.radio_button :reason_book, 'Pleasure' %> Pleasure</div>
    <div><%= f.radio_button :reason_book, 'Half of each' %> About half personal, half business</div>

  <h3>What resources do you use to book your plane travel?</h3>

    <div><%= f.check_box :res_bing, {} ,'Bing' %>Bing Travel / Farecast</div>
    <div><%= f.check_box :res_expedia,  {} ,'Expedia' %>Expedia</div>
    <div><%= f.check_box :res_kayak,  {} ,'Kayak' %>Kayak</div>
    <div><%= f.check_box :res_momondo, {} , 'Momondo' %>Momondo</div>
    <div><%= f.check_box :res_orbitz, {} , 'Orbitz' %>Orbitz</div>
    <div><%= f.check_box :res_travelocity, {} ,'Travelocity' %>Travelocity</div>
	<div><%= f.check_box :resources,  {} ,'Other' %> <%= f.text_field :resources %>

    <h3>Do you usually book your flights on the same day that you start your flight search?</h3>
      <%= f.radio_button :book_same_day, 'Yes' %> Yes<br />
      <%= f.radio_button :book_same_day, 'No' %> No, because:  <%= f.text_field :book_same_day_long %>

  
<h3>How much would you pay to hold your flight for a week at today's price?</h3>
<div><%= f.radio_button :price, 'Nothing' %>Nothing - I wouldn't pay for this service</div>
<div><%= f.radio_button :price, 'under $10' %>Under $10</div>
<div><%= f.radio_button :price, '$10 - $20' %>$10 - $20</div>
<div><%= f.radio_button :price, 'Over $20' %>Over $20</div>
<div><%= f.radio_button :price, 'It Depends' %>It depends on the flight - I'll explain below</div>
<div><%= f.text_area :price_long, :cols=>20, :rows=>10 %></div>

    <h3>Can we contact you via email to ask you follow-up questions &amp; keep you updated? We won&#8217;t share or sell your email.</h3>
      <%= f.radio_button :contact, 'Yes' %> Yes at this email address: 
      <%= f.text_field :contact_long %><br />
      <%= f.radio_button :contact, 'No' %> No<br /><br />

  <div class="button">
    <%= image_submit_tag 'freezefare-submit-btn.gif' %>
  </div>

<%= params[:moo]%>
<% end %>

</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Google Code for Clicked on Button Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1022465838;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "PMU8CNLM3wEQrq7G5wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1022465838/?label=PMU8CNLM3wEQrq7G5wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
