<h1>New fare_history</h1>

<% form_for(@fare_history) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :offer_date %><br />
    <%= f.datetime_select :offer_date, :minute_step=>30  %>
  </p>
  <p>Itinerary:<br />
<%  @itineraries = Itinerary.find(:all)
    @itineraries.each do |itin| %>
    	<%=f.radio_button :itinerary_id, :value=> itin.id%><%= itin.dept_date %> to 
	    <%=itin.ret_date %> via

        <br />
    <% end %>
  </p>
  <p>
    <%= f.label :low_price %><br />
    <%= f.text_field :low_price %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fare_histories_path %>